
*.iml
app/app.iml
app/src/main/gen/

app/build/

.gradle

.idea/libraries
.idea/workspace.xml

.idea/runConfigurations.xml

.idea/misc.xml

.idea/dictionaries/

build/
local.properties

.idea/codeStyleSettings.xml

.idea/vcs.xml

.idea/copyright
.idea/compiler.xml

.idea/gradle.xml